.userlist {
    list-style-type: none;
}

.userbox {
    border-radius: 5px;
    border: 2px solid dodgerblue;
    background-color: lightblue;
    margin: 5px;
}

.content {
    display: flex;
    flex-direction: column;
}

.messages {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: 1px solid lightslategray;
}

.chat-message-timestamp {
    color: dodgerblue;
}

.sendMessageForm{
    flex-shrink: 0;
}

.messageField{
    width: 100%;
    height: 150px;
    resize: none;
}