<!DOCTYPE html>
<!-- -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="../static/css/chatview.css" th:href="@{/css/chatview.css}" rel="stylesheet"/>
        <script  th:src="@{/js/chatview.js}" type="module"></script>
    </head>

    <body>
        <div class="content">
            <div class="messages" id="messageBox">
            </div>
            <form action="/api/message/send" class="sendMessageForm" id="sendMessageForm" name="sendMessageForm">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="message">Message:</label><br>
                <textarea class="messageField" id="message" name="message" required></textarea>
                <input type="hidden" id="chatid" name="chatid" th:value="${chat.getId()}"><br>
                <input type="submit" id="submit" value="Send">
            </form>
        </div>
    </body>
</html>